# Period and PeriodIndex

In [1]:
import pandas as pd
import numpy as np

In [2]:
y = pd.Period('2016')   #A-Dec means annual ending December
y

Period('2016', 'A-DEC')

In [3]:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 '_add_delta',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_typ',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [4]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [5]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [6]:
m = pd.Period('2011-1', freq='M')
m

Period('2011-01', 'M')

In [7]:
m.start_time

Timestamp('2011-01-01 00:00:00')

In [8]:
m.end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [9]:
m + 1

Period('2011-02', 'M')

In [10]:
d = pd.Period('2017-02-28',freq='D')
d

Period('2017-02-28', 'D')

In [11]:
d + 1

Period('2017-03-01', 'D')

In [12]:
idx = pd.period_range('2011','2017', freq= 'Q-JAN')
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [13]:
idx[0].start_time

Timestamp('2010-11-01 00:00:00')

In [14]:
idx[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [16]:
df=pd.read_excel (r'TEMPERATURE.xls','Sheet10')

df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [17]:
df.set_index('Line Item', inplace=True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [18]:
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [19]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')